
<section class="section3">
  <div class="container">
    <div class="section3__wrap">
      <div class="section3__image"><img src="assets/images/section3-img-main.png"/></div>
      <div class="section3__content">
        <h2 class="section3__title">
          <div class="section3__title-main">Thêm một bạn</div>
          <div class="section3__title-sub">Thêm ngàn niềm vui!</div>
        </h2>
        <div class="section3__desc">
          <p>Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm</p>
          <p>vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể</p>
          <p>đáp ứng nhu cầu của bạn!</p>
        </div>
        <div class="section3__buttons"><a class="button-outline" href="#">Giới thiệu <i class="fa-regular fa-circle-play"></i></a><a class="button" href="#">Khám phá ngay</a></div>
      </div>
    </div>
  </div>
</section>