section.section3
    .container
        .section3__wrap
            .section3__image
                img(src="assets/images/section3-img-main.png")
            .section3__content
                h2.section3__title
                    .section3__title-main Thêm một bạn
                    .section3__title-sub Thêm ngàn niềm vui!

                .section3__desc
                    p Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm
                    p vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể
                    p đáp ứng nhu cầu của bạn!

                .section3__buttons
                    a(href="#" class="button-outline")
                        | Giới thiệu 
                        i(class="fa-regular fa-circle-play")
                    a(href="#" class="button") Khám phá ngay
