@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "variable";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    /* chiều cao của line, để khoảng từ 1.4, 1.5, 1.6 là đẹp; không cần fix cứng theo figma */
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.container {
    width: 1180px;
    /* Tìm khối có kích thước ful từ trái qua phải container để tìm width*/
    margin: 0 auto;

    @media (max-width: 1199.98px) {
        width: 960px;
    }
    
    @media (max-width: 991.98px) {
        width: 720px;
    }
    
    @media (max-width: 767.98px) {
        width: 540px;
    }
    
    @media (max-width: 575.98px) {
        /* do la man hinh dien thoai nen co chieu rong full 100% */
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.button {
    /* thẻ a, là inline, không thêm được chiều cao nên cố tình thêm height cũng ko được -> inline-block*/
    /* để chữ canh ra chính giữa -> inline-flex + align-items: center */
    display: inline-flex;
    align-items: center;

    height: 44px;
    /* width: auto; */
    padding: 0 28px;
    font-size: 16px;
    font-weight: 700;
    color: #FDFDFD;
    background-color: $color-main;
    border-radius: 57px;

    transition: all 0.3s;

}

.button:hover {
    background-color: #00A7E7;
}

.button-outline {
    display: inline-flex;
    align-items: center;

    color: $color-main;
    height: 44px;
    /* width: auto; */
    padding: 0 28px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 57px;
    border: 2px solid $color-main;

    transition: all 0.3s;

    i {
        font-size: 18px;
        color: $color-main;
        margin-left: 11px;
    }

    &--icon-left {
        margin-left: 0;
        margin-right: 10px;
    }
}

.button-outline:hover {
    background-color: #FFE7BA;
}

// Header
.header {
    padding: 28px 0;

    &__wrap {
        /* cùng hàng, w=100% phần tử cha */
        display: flex;
        /* canh giữa trục phụ */
        align-items: center;
        /* do ở dưới menu đã để flex 1 để các phần tử dàn đều ra giữa r nên không cần space-between ở đây */
        /* justify-content: space-between; */
        /* lúc co màn hình lại thì cách nhau ít nhất là 14px */
        gap: 14px;
        position: relative;
        z-index: 99;
    }

    &__logo img {
        width: auto;
        height: 40px;
        /* không nên fix cứng w và h theo figma, nên để h fix cứng theo figma và w auto */
    }

    &__menu {
        /* thường  linh hoạt nên để flex 1 để chiếm giao diện còn lại, các khối kia thì canh gap theo figma */
        flex: 1;
        /* canh giữa các phần tử ul trong phần chiều rộng đã chiếm do flex 1 */
        text-align: center;
    
        position: relative;

        ul {
            /* để các phần tử cùng hàng thì phải css từ thẻ cha là ul, ul có margin và padding mặc định nên phải reset về 0 */
            display: inline-flex;
            margin: 0;
            padding: 0;
            /* bỏ dấu chấm tròn */
            list-style: none;
            gap: 48px;

            a {
                font-weight: 700;
                font-size: 16px;
                color: $color-main;
            }
        }
    }

    &__form {
        background-color: #F3F3F3;
        /* block search fix cứng w và h */
        height: 44px;
        width: 280px;
        border-radius: 46px;
        padding: 0 16px;
        display: inline-flex;
        gap: 12px;

        button {
            font-size: 16.68px;
            color: $color-light-text;
            background-color: transparent;
            /* button có padding mặc định nên phải reset về 0 */
            padding: 0;
            border: 0;
            order: 0;
        }

        input {
            border: 0;
            /* mất đường viền khi click vào */
            outline: 0; 
            color: #99A2A5;
            height: 100%;
            /* màu trong suốt */
            background-color: transparent; 
            padding:0 16px;
            order: 1;
            /* cho phép phần tử tự động điều chỉnh kích thước để vừa với không gian có sẵn trong block */
            flex: 1;
        }
    }

    &__search-mobile {
        display: none;
    }

    &__menu-mobile {
        display: none;
    }

    @media (max-width: 1199.98px) {
        .button {
            /* An nut nhung khong chiem dien tich giao dien */
            display: none;
        }
    }
    
    @media (max-width: 991.98px) {
        &__search-mobile {
            /* hien thi cai button search len man hinh */
            display: inline-block;
    
            font-size: 23px;
            color: $color-dark-text;
            border: 0;
            background-color: transparent;
            /* dua chuot vao hien thi ban tay */
            cursor: pointer;
        }
    
        &__form {
            display: none;
        }
    } 
    
    @media (max-width: 767.98px) {
        padding: 12.5px 0;
    
        &__wrap {
            justify-content: space-between;
        }
    
        &__menu-mobile {
            display: inline-block;
    
            font-size: 23px;
            color: $color-dark-text;
            border: 0;
            background-color: transparent;
            /* dua chuot vao hien thi ban tay */
            cursor: pointer;
        }
    
        &__menu {
            display: none;
        }
    
        &__inner-logo img {
            height: 32px;
        }
    }
}
// End Header

// Section-1
.section1 {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    /* góc trên phải trái bo 0, góc dưới phải trái bo 40px */
    border-radius: 0 0 40px 40px;
    /* do cái nền nó thòi lên trên bao cái header nên margin-100px để nó thòi lên */
    /* không thêm nền cho header vì các trang con có header màu khác nên mình dùng cách này để dễ responsive và dùng header cho nhiều trang */
    margin-top: -100px;
    /* các phần tử cũng bị thòi theo nên pad 100px để nó có khoảng cách và về vị trí cũ */
    padding-top: 100px;
    /* display: flex; */

    overflow: hidden;
    /* do anh x1.5 nen se co thanh cuon ngang -> loi man hinh */

    &__wrap {
        /* content và img cùng một hàng */
        display: flex;
    }

    & .header__bg1 {
        position: absolute;
        top: -10px;
        left: -80px;
        z-index: 0;
    }

    &__content {
        width: 50%;
        padding-top: 80px;
        padding-right: 76px;
    
        /* để ảnh bg1 có class cha là inner content có thể canh chỉnh position */
        position: relative;
        z-index: 1;
    }

    &__bg1 {
        position: absolute;
        top: 75px;
        left: -10px;
    
        /* z-index cùng bằng 0 (mặc định), nhưng mà content được viết sau trong html nên chữ đè lên ảnh */
        /* z-index:0; */
    }

    &__bg2 {
        position: absolute;
        bottom: 0;
        left: -100px;
    
        /* z-index cùng bằng 0 (mặc định), nhưng mà content được viết sau trong html nên chữ đè lên ảnh */
        /* z-index:0; */
    }

    &__title {
        /* các thẻ h1-h6 luôn có margin mặc định nên phải reset về 0 */
        margin-top: 0;
        margin-bottom: 24px;
        color: $color-main;
        font-weight: 700;
        text-transform: capitalize;
    
        /* để có position có z-index=0 (mặc định), nếu 0 thêm pos relative thì có pos < 0*/
        position: relative;
        /* z-index: 0; */
    }

    &__title-main {
        font-size: 60px;
    }

    &__title-sub {
        font-size: 46px;
    }

    &__desc {
        width: 480px;
        height: 72px;
        font-size: 16px;
        font-weight: 500;
        color: #242B33;
        margin-bottom: 34px;

        p {
            margin: 0;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        text-transform: capitalize;

        a {
            font-weight: 500;
            font-size: 16px;
        }
    }

    &__image {
        width: 50%;
        padding-right: 74px;
    
        position: relative;
    }

    &__image-main {
        /* để ảnh co nhỏ lại vừa container, không fix cứng chiều cao */
        width: 100%;
        height: auto;
        /* thẻ img có kiểu hiển thị inline, có mặc định 1 khoảng trắng nho nhỏ ở dưới nên chỉ cần thêm display block là mất khoảng trắng */
        display: block;
        position: relative;
    }

    &__bg3 {
        position: absolute;
        bottom: 0;
        right: -150px;
    }

    @media (max-width: 1199.98px) {
        &__title-main {
            font-size: 54px;
        }
    
        &__title-sub {
            font-size: 34px;
        }
    
        &__bg2 {
            left: -15px;
            height: 50px;
        }
    
        &__bg3 {
            width: 145%;
        }
    }
    
    /* block content ben tren, block img ben duoi */
    @media (max-width: 991.98px) {
        &__wrap {
            flex-wrap: wrap;
        }
    
        &__content {
            width: 100%;
            padding-right: 0;
            padding-top: 35px;
        }
    
        &__desc {
            width: 100%;
            margin: 0px;

            p {
                display: inline;
                margin: 0px;
            }
        }
    
        &__image {
            width: 100%;
            margin-right: 0;
            margin-top: 25px;
        }
    
        &__bg2 {
            display: none;
        }
    }
    
    @media (max-width: 767.98px) {
        .header-bg1 {
            left: 22%;
            top: -35px;
        }
    }
    
    @media (max-width: 575.98px) {
        border-radius: 0 0 20px 20px;
        /* overflow: hidden; */
    
        &__title {
            margin-bottom: 12px;
        }
    
        &__title-main {
            font-size: 46px;
        }
    
        &__title-sub {
            font-size: 28px;
        }
    
        &__desc {
            font-size: 12px;
            margin-bottom: 0;
        }

        .header-bg1 {
            left: 8%;
            top: -35px;
        }
    }
}
// End Section-1

// Section-2
.section2 {
    background-color: #FDFDFD;
    padding: 60px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-item {
            width: calc((100% - 60px) / 4);
        }
    }
    
    &__button-bottom {
        display: none;
    }
    
    @media(max-width: 991.98px) {
        &__wrap .product-item {
            width: calc((100% - 40px) / 3);
        }
    }
     
    @media(max-width: 767.98px) {
        &__wrap {
            gap: 12px;

            .product-item {
                width: calc((100% - 12px) / 2);
            }
        }
    
        &__button-bottom {
            display: block;
            margin-top: 16px;

            .button-outline {
                display: flex;
                justify-content: center;
            }
        }
    } 
    
    @media (max-width: 575.98px) {
        padding-top: 40px 0;
    }
}
// End Section-2

// box-head
.box-head {
    /* margin-top: 60px; */
    margin-bottom: 28px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        width: 370px;
        display: block;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    
        gap: 2px;

        p {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            padding: 0;
            color: #000;
        }

        h3 {
            font-weight: 700;
            font-size: 24px;
            text-transform: capitalize;
            margin: 0;
            padding: 0;
            color: #003459;
        }
    }

    .button-outline {
        width: 154px;
        height: 44px;
        font-size: 14px;
        font-weight: 500;

        i {
            margin-left: 8px;
            width: 20px;
            height: 20px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 767.98px) {
        &__title-sub {
            font-size: 14px;
        }
    
        &__title {
            font-size: 20px;
        }
    
        &__right {
            display: none;
        }
    }
}
// End box-head

// Product-item 
.product-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    background-color: #FDFDFD;
    padding: 8px 8px 0 8px;
    border-radius: 12px;

    &__image {
        border-radius: 10px;
        overflow: hidden;
        display: block;
        margin-bottom: 8px;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: 0;
        }
    }
    
    &__content {
        padding: 8px 8px 20px 8px;

        h3 {
            color: $color-main;
        }
    }
    
    &__title {
        margin-top: 0;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 4px;

        a {
            color: $color-dark-text;
        }
    }
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        
        /* them 4px top-bottom de responsive */
        gap: 4px 26px;
        margin-bottom: 4px;
    }
    
    &__info-item {
        color: $color-light-text;
        font-weight: 500;
        font-size: 12px;
    
        position: relative;

        b {
            font-weight: 700;
        }

        &::after {
            content: ".";
            width: 3px;
            height: 3px;
            font-size: 20px;
            /* de them w h -> inline-block */
            display: inline-block;
            color: $color-light-text;
            border-radius: 50%;
            position: absolute;
            top: -12px;
            right: -15px;
        }

        &:last-child::after {
            display: none;
        }
    }
    
    &__price {
        font-size: 14px;
        font-weight: 700;
        color: $color-dark-text;
    }
    
    @media (max-width: 575.98px) {
        &__title {
            font-size: 14px;
        }
    
        &__info-item::after {
            display: none;
        }
    }
}
// End Product-item

// Section-3
.section3 {
    &__wrap {
        background-image: url(../images/section3-bg.svg);
        
        /* khong bi repeat anh */
        background-repeat: no-repeat;
        /* cover cai img 1.5x */
        background-size: cover;
        background-position: center;
    
        display: flex;
    
        border-radius: 20px;
        overflow: hidden;
        justify-content: space-between;
    }
    
    &__image {
        width: 45%;
        margin-left: 20px;
        margin-top: 36px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    
    &__content {
        width: 45%;
        text-align: right;
        margin-top: 58px;
        margin-right: 85px;
    }
    
    &__title {
        /* các thẻ h1-h6 luôn có margin mặc định nên phải reset về 0 */
        margin-top: 0;
        margin-bottom: 8px;
        color: $color-main;
        font-weight: 700;
        text-transform: capitalize;
    
        position: relative;
    }
    
    &__title-main {
        font-size: 52px;
    }
    
    &__title-sub {
        font-size: 36px;
    }
    
    &__desc {
        width: 394px;
        height: 54px;
        font-size: 12px;
        font-weight: 500;
        color: #242B33;
        margin-bottom: 24px;
    
        position: relative;
        top: 0;
        right: -135px;

        p {
            margin: 0;
        }
    }
    
    &__buttons {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        gap: 18px;
        text-transform: capitalize;

        a {
            font-weight: 500;
            font-size: 16px;
        }
    }
    
    @media (max-width: 1199.98px) {
    
        &__content {
            width: 39%;
            margin-top: 25px;
            margin-right: 25px;
        }
    
        &__title-main {
            font-size: 42px;
        }
    
        &__title-sub {
            font-size: 28px;
        }
    
        &__desc {
            right: 30px;
        }
    }
    
    @media (max-width: 991.98px) {
        &__wrap {
            flex-wrap: wrap;
            background-image: url(../images/Bg-mobile-sec3.svg);
        }
    
        &__image {
            width: 100%;
            order: 1;
            margin: 0;
        }
    
        &__content {
            width: 100%;
            order: 0;
            margin: 0;
            padding: 32px 20px 23px 20px;
            text-align: center;
        }
    
        &__buttons {
            justify-content: center;
        }
    
        &__desc {
            right: -142.5px;
        }
    }
    
    @media(max-width: 767.98px) {
        &__desc {
            right: -50px;
        }
    }
    
    @media (max-width: 575.98px) {
        &__title {
            margin-bottom: 12px;
        }
    
        &__title-main {
            font-size: 36px;
        }
    
        &__title-sub {
            font-size: 24px;
            margin-top: 0;
        }
    
        &__desc {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}
// End Section-3

// Section-4
.section4 {
    padding: 60px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .elements {
            width: calc((100% - 40px) / 3);
        }
    }

    &__button-bottom {
        display: none;
    }
    
    @media (max-width: 991.98px) {
        &__wrap {
            gap: 12px;

            .elements {
                width: calc((100% - 12px) / 2);
            }
        }
    }
    
    @media (max-width: 767.98px) {
        &__button-bottom {
            display: block;
            margin-top: 16px;

            .button-outline {
                display: flex;
                justify-content: center;
            }
        }
    }
    
    @media (max-width: 575.98px) {
        padding: 40px 0;
    
        &__wrap .elements {
            width: 100%;
        }
    }
}
// End Section-4

// element - blog 
.elements {
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;

    &__image {
        border-radius: 10px;
        overflow: hidden;
    
        /* để tỉ lệ bằng size trong Figma */
        /* để ở thẻ cha */
        aspect-ratio: 364/240;
    
        margin-bottom: 8px;

        img {
            width: 100%;
            height: 100%;
        
            /* cat di nhung phan thua */
            object-fit: cover;
        
            display: block;
        }
    }
    
    &__content {
        padding: 8px;
    
        &--tag {
            background-color: #00A7E7;
            padding: 2px 10px;
            border-radius: 28px;
        
            /* them padding thi kieu hien thi khong duoc de inline */
            display: inline-block;
            
            font-weight: 700;
            font-size: 10px;
            color: #FDFDFD;
        }

        &--title {
            margin-top: 10px;
            margin-bottom: 6px;
        
            font-weight: 700;
            font-size: 16px;
            color: $color-dark-text;
        
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }

        &--desc {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            color: #242B33;
        
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
    }
}
// End element - blog 

// Footer
.footer {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;
    padding: 80px 0 40px 0;

    &__top {
        background-color: $color-main;
        padding: 32px;
        border-radius: 16px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__content {
        width: calc(40% - 20px);
    
        font-size: 20px;
        font-weight: 700;
        color: #FDFDFD;
        text-transform: capitalize;
    }
    
    &__form {
        width: 60%;
        background-color: #ffffff;
        border-radius: 14px;
        padding: 12px;
        display: flex;
        gap: 12px;

        input {
            flex: 1; /* o input chiem phan con lai*/
            height: 48px;
            border: 1px solid #99A2A5;
            border-radius: 8px;
            padding: 0 28px;
        
            font-size: 14px;
            font-weight: 500;
            outline: none;
        }

        &::placeholder {
            color: #99A2A5;
            /* mau chu cua "Nhap email cua ban..." */
        }

        button {
            height: 48px;
            border-radius: 8px;
            background-color: $color-main;
            
            padding: 0 28px;
            color: #FDFDFD;
            font-size: 16px;
            font-weight: 500;
            /* di chuot vao chuot doi thanh ban tay */
            border: 0;
            cursor: pointer;
        
            /* di chuot mau chuyen cham 0.3s */
            transition: all 0.3s;

            &:hover {
                background-color: #00A7E7;
            }
        }
    }
    
    &__middle {
        padding: 40px 0;
        border-bottom: 1px solid #CCD1D2;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__middle-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        
            display: flex;
            gap: 10px 60px;

            li a {
                font-weight: 600;
                font-size: 16px;
                color: $color-dark-text;

                &:hover {
                    color: #00A7E7;
                }
            }
        }
    }
    
    &__socials {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        
            display: flex;
            gap: 10px 40px;

            li a {
                font-size: 24px;
                color: $color-dark-text;

                &:hover {
                    color: #00A7E7;
                }
            }
        }
    }
    
    &__bottom {
        padding-top: 40px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__copyright {
        font-weight: 500;
        font-size: 14px;
        color: $color-light-text;
    
        width: 40%;
    }
    
    &__logo {
        width: 20%;
        text-align: center;

        img {
            width: 115px;
            height: auto;
        }
    }
    
    &__bottom-links {
        width: 40%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 32px;

            li a {
                font-weight: 500;
                font-size: 14px;
                color: $color-light-text;
            }
        }
    }
    
    @media (max-width: 991.98px) {
        &__top { 
            flex-wrap: wrap;
        }
    
        &__content {
            width: 100%;
            margin-bottom: 16px;
        }
    
        &__form {
            width: 100%;
        }
    
        &__bottom {
            flex-wrap: wrap;
            padding-top: 36px;
        }
    
        &__copyright {
            width: 100%;
            order: 2;
            font-size: 10px;
            text-align: center;
        }
    
        &__logo {
            width: 100%;
            order: 0;
            margin-bottom: 32px;
        }
    
        &__bottom-links {
            width: 100%;
            order: 1;
            margin-bottom: 12px;

            ul {
                justify-content: center;

                li a {
                    font-size: 12px;
                }
            }
        }
    }
    
    @media (max-width: 767.98px) {
        &__middle {
            flex-wrap: wrap;
        }
    
        &__middle-links {
            width: 100%;
            margin-bottom: 20px;

            ul {
                justify-content: center;
            }
        }
    
        &__socials {
            width: 100%;

            ul {
                justify-content: center;
            }
        }
    }
    
    @media (max-width: 575.98px) {
        border-radius: 20px 20px 0 0;
        padding: 40px 0 16px 0;
    
        &__top {
            padding: 16px;
        }
        
        &__form {
            flex-wrap: wrap;

            input {
                width: 100%;
                /* de ko chiem phan vi tri con lai */
                flex: none;
            }

            button {
                width: 100%;
            }
        }
    
        &__middle-links{
            ul {
                flex-wrap: wrap;
                gap: 10px 40px;

                li a {
                    font-size: 13px;
                }
            }
        }
    
        &__socials ul li a {
            font-size: 20px;
        }
    }
}
// End Footer

// Breadcrumb
.breadcrumb {
    margin-top: 7px;
    margin-bottom: 9px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 10px 36px;
        flex-wrap: wrap;

        li {
            position: relative;
            
            &::after {
                content: "\f105";
                line-height: 1;
                font-weight: 900;
                font-family: "Font Awesome 6 Free";
                font-size: 12px;
                color: $color-light-text;
                position: absolute;
                top: 5px;
                right: -22px;
            }

            &:last-child::after {
                display: none;
            }

            a {
                font-weight: 500;
                font-size: 14px;
                color: $color-light-text;
            }
        }
    }
}
// End Breadcrumb

// Section-5
.section-5 {
    padding: 60px 0;

    &__head {
        .box-filter__title {
            display: none;
        }
    }

    &__wrap {
        display: flex;
        gap: 20px;
    }

    &__left {
        width: calc(25% - 10px);
    }

    &__right {
        width: calc(75% - 10px);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 24px;
        color: $color-main;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-item {
            width: calc((100% - 40px) / 3);
        }
    }

    @media (max-width: 991.98px) {
        &__list {
            .product-item {
                width: calc((100% - 20px) / 2);
            }
        }
    }

    @media (max-width: 767.98px) {
        &__left {
            display: none;
        }

        &__right {
            width: 100%;
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .box-filter__title {
                display: inline-flex;
                font-size: 16px;
            }
        }

        &__list {
            gap: 12px;
        }
    }

    @media (max-width: 575.98px) {
        padding: 32px 0 40px 0;

    }
}
// End Section-5

// box-filter
.box-filter {
    &__title {
        font-weight: 700;
        font-size: 20px;
        color: $color-main;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        gap: 7px;

        img {
            width: 20px;
            height: auto;
            margin-right: 13px;
        }
    }

    &__group {
        padding-bottom: 16px;
        border-bottom: 1px solid #EBEEFF;
        margin-bottom: 16px;
    }

    &__group-label {
        font-size: 16px;
        font-weight: 700;
        color: $color-dark-text;
        margin-bottom: 10px;
    }

    &__group-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__group-item {
        display: flex;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }

        label {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 14px;
            color: $color-dark-text;
        }
    }
}
// End box-filter

// Pagination
.pagination {
    margin-top: 20px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        // background-color: #DDD;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        color: $color-main;

        &--active, &:hover {
            background-color: $color-main;
            color: white;
        }
    }   
}
// End Pagination

// Section-6
.section-6 {
   &__wrap {
        display: flex;
        padding: 20px 22px;
        border: 1px solid #EBEEFF;
        border-radius: 20px;
        gap: 30px;
   } 

   &__image {
        width: calc(50% - 15px);
   }

   &__image-main {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
   }

   &__image-thumb {
        display: flex;
        gap: 12px;

        img {
            width: calc((100% - 48px) / 5);
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 6px;
            display: block;
        }
   }

   &__content {
        width: calc(50% - 15px);
   }

   &__title {
        margin-top: 18px;
        margin-bottom: 6px;
        font-size: 24px;
        font-weight: 700;
        color: $color-dark-text;
   }

   &__price {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 20px;
        color: $color-main;
   }

   &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
   }

   &__table {
        margin-top: 18px;
        margin-bottom: 18px;

        td {
            border-bottom: 1px solid #EBEEFF;
            padding: 11px;
            font-weight: 500;
            font-size: 14px;
            color: $color-light-text;
        }
   }

   @media (max-width: 991.98px) {
        &__wrap {
            flex-wrap: wrap;
        }

        &__image {
            width: 100%;
        }

        &__content {
            width: 100%;
        }
   } 

   @media (max-width: 575.98px) {
        .container {
            padding: 0;
        }

        &__wrap {
            padding: 0;
            border: 0;
            gap: 22px;
        }

        &__content {
            box-shadow: 0px -6px 6px 0px #0000000F;
            padding: 32px 16px 20px 16px;
            border-radius: 20px;
        }

        &__title {
            margin-top: 15px;
            margin-bottom: 2px;
        }

        &__price {
            margin-bottom: 16px;
        }
   }
}


// End Section-6

// Box-share
.box-share {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;

    &__label {
        font-weight: 700;
        font-size: 14px;
        color: $color-main;

        i {
            font-size: 15px;
            margin-right: 8px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        a {
            font-size: 18px;
            color: $color-light-text;
        }
    }
}
// End Box-share